html {
  font-size: 62.5%;
}

body {
  font-family: ' Inter ', sans-serif;
  line-height: 1.6;
}

h1{
  font-size: 3rem;
}
h2{
  font-size: 25px;
  color: #333;
}
p {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  min-height: 90vh;
  place-content: center;
}

.card {
  border-radius: 0.7rem;
  box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.15);
  min-width: 25rem;
}

.card-horizontal {
  border-radius: 0.7rem;
  box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.15);
  max-width: 32rem;
  margin: 10px;
}

.box {
  width: 100%;
  min-height: 20rem;
  border-radius: 0.7rem;
  box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.15);
}

hr {
  border: 1px solid rgba(51, 51, 51, 0.062);
}

button {
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.444);
  cursor: pointer;
  display: block;
  margin: auto;
}

.wrapper {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90vw;
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 90vw;
  }
}

h1{
  color: #c30052;
}

.card__head{
  text-align: center;
  font-size: 2.5rem;
  margin: 0 auto;
}

.card__bg-flame, .button--bg-flame{
  background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.card__bg-ice, .button--bg-ice{
  background-image: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}

.card__bg-wind, .button--bg-wind{
  background-image:linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

.card--padding{
  padding: 10px;
}

.button--size{
  width: 28%;
  padding: 8px;
}

.button--white{
  color:#fff;
}

.card-horizontal__head{
  color: #fff;
  width: 90%;
  font-size: 1.5rem;
  margin: 8px;
}
.card-horizontal__context{
  color: #fff;
  padding: 8px;
  font-size: 1.3rem;
}

